<div style='position:absolute; left:${parameters.left}px;top:${parameters.top}px;width:${parameters.width}px;height:${parameters.height}px;' > 
<ol #if($parameters.style) style='${parameters.style}'#end #if($parameters.classname) class='${parameters.classname}'#end>