<tv coords="${parameters.left},${parameters.top},${parameters.rightX},${parameters.rightY}" networkid="${parameters.getValue('networkid')}" casystemid="${parameters.getValue('casystemid')}" ecmpid="${parameters.getValue('ecmpid')}" videopid="${parameters.getValue('videopid')}"  videotype="${parameters.getValue('videotype')}" audiopid="${parameters.getValue('audiopid')}" audiotype="${parameters.getValue('audiotype')}" pcrpid="${parameters.getValue('pcrpid')}" freq="${parameters.getValue('freq')}" sym="${parameters.getValue('sym')}" mod="${parameters.getValue('mod')}" play="all" />